*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.container {
   min-width: 1200px;
}

.container_content {
    width: 1160px;    
}

.header_container {
    background-image: url(../image/Layer\ header\ 1.png);
    background-size: cover;
    background-attachment: fixed;   
}

.nav_container {
    background: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: center;   
}

.nav_menu {
    display: flex;
    align-items: center;
    color: #FFFFFF99;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    width: 615px;
    justify-content: space-between; 
    cursor: pointer;  
    list-style-type: none;
}

.nav_logo {
    display: flex;
    align-items: center;
}

.nav_logo_text1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    height: 67px;
    width: 58px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/Polygon\ 1\ 1.svg);
}

.nav_logo_text2 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    padding-left: 6px;
}

.nav_logo_text3 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    color: #18CFAB;
}

.nav_item {
    padding-bottom: 47px;
    padding-top: 49px;
}

.nav_item:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB; 
    padding-bottom: 45px;
}

.nav_item_icon {
    padding-bottom: 42px;
    padding-top: 49px;
}

.nav_item_search {
    width: 22px;
    height: 22px;
    opacity: 60%;      
}

.nav_item_icon:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB; 
    padding-bottom: 40px;  
}

.nav_item_icon:hover .nav_item_search{  
    opacity: 100%;
    content: url(../icon/search_hover.svg);  
    width: 22px;
    height: 22px; 
}

.nav_content {
    display: flex;
    justify-content: space-between;
    height: 120px;
}

.about_container {
    display: flex;
    justify-content: center;
    padding-bottom: 243px;
}

.about {
    padding-top: 264px;
    display: block;
    text-align: center;
}

.puk {
    height: 35px;
}

.text_about_1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 35px;
}

.text_about_2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: #18CFAB;
    height: 35px;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 22px;
    height: 80px;
}

h1~p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 34px;
    /* align-items: center; */
    text-align: center; 
    color: #D4D4D4;
    padding-top: 22px;
}

.header_button {
    padding-top: 134px;
    display: flex;
    justify-content: center;
}

.button_explore {
    width: 169px;
    height: 63px;
    background-color: #18CFAB;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 -5px #FFFFFF;
}

.button_purchase {
    width: 169px;
    height: 63px;
    background: #00CBF6;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 26px;
    border-radius: 5px;
    box-shadow: 0 -5px #FFFFFF;
}

.options {
    display: flex;
    margin: 8px 0px;
}

.options_content1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 47px;
}

.options_content2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 58px;
}

.option1 {
    color: #18CFAB;
    background-color: #1C2A33;
    align-items: center;
    text-align: center;
    padding-top: 85px;
    padding-bottom: 102px;
    width: 25%;
}

.option2 {
    color: #FFFFFF;
    background-color: #18CFAB;
    text-align: center; 
    align-items: center;   
    padding-top: 96px;
    padding-bottom: 102px;
    width: 25%;
}

.service {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
    display: flex;
    justify-content: center;
    padding-top: 83px;
    padding-bottom: 91px;   
}

.line {
    border-bottom: 1px solid #18CFAB;
    width: 75.54px;
    padding-top: 26px;
    margin-left: 530px;
}

.line2 {
    border-bottom: 1px solid #18CFAB;
    width: 78px;
    padding-top: 1px;
    margin-left: 541px;
}

.service_menu {
    display: flex;
    padding-top: 69px;
}

.design_content li {
    display: none;
} 

.service_item.service_active{
    background-color: rgba(24, 207, 171, 1);
    color: #FFFFFF;
    src: url(../icon/Rectangle.png);
}

.service_item {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15.9859px;
    color: #717171;
    width: 195px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer; 
    border-bottom: 1px solid #EDEFEF;
    border-top: 1px solid #EDEFEF;
    border-left: 1px solid #EDEFEF;
    background-color: rgba(248, 252, 254, 1);  
    position: relative;  
}

.rectangle {
    position: absolute;
    margin-top: 83px;
    
}

.rectangle_hidden {
    display: none;
}

.service_item:last-child {
    border-right: 1px solid #EDEFEF;
}

.service_item:hover {
    border: 1.5px solid #18CFAB
}

.design {
    padding-top: 27px;
    display: flex;
    justify-content: center;
}

.design_img {
    height: 139px;
    width: 192px;
}

.design_text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 13.645px;
    color: rgba(119, 119, 119, 1);
    width: 952px;
    height: 139px;
    line-height: 24px;
    padding-left: 15px;
}

.marketing {
    width: 192px;
    height: 139px;
}

.purchase {
    background-image: url(../image/Layer\ main\ 1.png);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 126.78px;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #18CFAB;
}

.purchase_content {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
    padding-top: 12.22px;
}

.button {
    display: flex;
    justify-content: center;
    padding-bottom: 127px;
}

.button_purchase_now {
    background-color: rgba(24, 207, 171, 1);
    color: rgba(255, 255, 255, 1);
    width: 168px;
    height: 63px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 67px;
    box-shadow: 0 -5px #FFFFFF;
}

.work {
    background: rgba(233, 237, 239, 1);
    padding-top: 95px;
    padding-bottom: 99px;
    display: flex;
    justify-content: center;
}

h3 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
}

.work_item {
font-family: 'Montserrat';
font-weight: 400;
font-size: 14px;
line-height: 42px;
display: flex;
align-items: center;
color: #717171;
border-bottom: 1px solid rgba(218, 218, 218, 1);
border-left: 1px solid rgba(218, 218, 218, 1);
border-top: 1px solid rgba(218, 218, 218, 1);
padding: 14px 15px 13px 15px;
}

.work_menu {
    display: flex;
    padding-top: 69px;
    padding-bottom: 71px;
    justify-content: center;
}

.work_item.work_active {
    color: rgba(24, 207, 171, 1);
    border: 2px solid #18CFAB;
}

.work_item.work_active:last-child {
    color: rgba(24, 207, 171, 1);
    border: 2px solid #18CFAB; 
}

.work_item:first-child {
    padding-left: 27px;
    padding-right: 28px;
}

.work_item:last-child{
    border-right: 1px solid rgba(218, 218, 218, 1); 
    padding-right: 12px;
}

.work_item:hover {
    cursor: pointer;
}

.work_content {
    display: flex;
    flex-wrap: wrap;   
}

.work_content img.all1 {
    display: block;
}

.work_content_card {
    position: relative;

}

.work_content img.web:hover {
    cursor: pointer;
    position: relative;
}

.card_hover{
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0%;
    padding-top: 40px;
    text-align: center;
    border-top: 3px solid #18CFAB;
}

.card_hover_content {
    display: flex;
    justify-content: center;
}

.card_hover_content1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14.1771px;
    display: flex;
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 23px;
    position: absolute;
}

.card_hover_content2 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 12.1518px;
    display: flex;
    color: #8A8A8A;
    position: absolute;
    margin-top: 46px;
}

.work_content_card:hover .all1{
    opacity: 0%;
    cursor: pointer;
    /* position: absolute; */
}

.work_content_card:hover .card_hover{
    opacity: 100%;
}

.button_work {
    display: flex;
    justify-content: center;   
    padding-top: 70px;
}

.button_work_content {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    width: 168px;
    height: 63px;
    padding-left: 23px;
    padding-right: 23px;
    width: 168px;
    height: 63px;
    background: #18CFAB;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.breaking_news{
    padding-top: 82px;
    display: flex;
    justify-content: center;
    
}

.breaking_news_content {
    padding-top: 68px;
}

.breaking_news_cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 43.81px;
    text-decoration: none;
}

.cards1, .cards2, .cards3, .cards4, .cards5, .cards6, .cards7, .cards8{
    position: relative;
}

a {
    text-decoration: none;
}

.date {
    width: 68px;
    height: 66px;
    padding: 14px 4px 13px 4px;
    text-align: center;
    background-color: #203E38;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    top: 0%;
    right: 0%;
}

.date_d {
    margin-bottom: 3px;
}

.breaking_news_cards_item:hover h4{
    color: rgba(24, 207, 171, 1);

}

.breaking_news_cards_item:hover .date{
    background-color: rgba(24, 207, 171, 1);
}

h4 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 17.9885px;
    line-height: 39px;
    width: 227px;
    height: 40px;
    text-align: center;
    color: #717171;
}

.breaking_news_comment {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    width: 210px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    /* padding-left: 11px; */
    color: #777777;
}

.feedback {
    background-image: url(../image/Layer\ main\ 2.png);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 98px;
    padding-bottom: 98px;
    display: flex;
    justify-content: center;
    text-align: center;
}

h5 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center; 
    color: #FFFFFF;
}

.feedback_icon {
    padding-top: 66px;
    padding-bottom: 36px;
}

.feedback_content {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    height: 150px;
    color: #BBBBBB;
}

.feedback_name {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 37px;
}

.feedback_profession {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: rgba(187, 187, 187, 1)
}

footer {
    background: rgba(34, 53, 63, 1);
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 47px;
}

.footer_content1 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    color: #AEAEAE;
}

.footer_content2 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    color: rgba(24, 207, 171, 1);
    padding-left: 4px;
    padding-right: 4px;
}

.carosel-container {
    text-align: center;
    margin: auto;
  
}

.carosel_img {
    width: 171px;
    height: 248px !important;
    padding-top: 38px;
    padding-bottom: 44px;
}

#splide__track {  
    display: flex !important;
    justify-content: center !important;
}

.splide__carousel {
    width: 483px;
    height: 83px;
}

.splide__slide {
    opacity: 0.6;
}
  
.splide__slide.is-active {
    opacity: 1;
    border: none !important; 
}

.splide__arrow {
    background: none !important;
    border: 1px solid rgba(187, 187, 187, 1) !important;
    border-radius: 0% !important;
    width: 31px !important;
    height: 31px !important;  
}

.splide__arrow svg {
    fill: #BBBBBB !important;
}

.splide__arrow:hover {
    background-color: #18CFAB !important;
    color: #FFFFFF !important;
    border: none !important;
}

.splide__arrow svg:hover {
    fill: #FFFFFF !important;
}

.is-active {
    margin-bottom: 11px !important;
}

/* .splide__track--nav>.splide__list>.splide__slide {
    border: 10px solid transparent !important;
    cursor: pointer;
} */




  
 




